<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<div>

    <!--导航-->
    <div th:replace="commons/bar::admintopbar(activeUri='blog')"></div>

    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
                <a href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>
            </div>
        </div>
    </div>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div class="ui secondary segment form">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown">
                                <input type="hidden" name="type">
                                <i class="dropdown icon"></i>
                                <div class="default text">分类</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                                </div>
                            </div>
                            <button id="clear-btn" class="ui compact button">clear</button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
            </div>
            <div id="table-container">
                <!--表格-->
                <table class="ui compact teal table" th:fragment="blogList">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>发布状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="blog,iterStat : ${pageInfo.list}">
                            <td th:text="${iterStat.count}">1</td>
                            <td th:text="${blog.title}">刻意练习</td>
                            <td th:text="${blog.type.name}">认知升级</td>
                            <td th:text="${blog.recommend}? 是 : 否">是</td>
                            <td th:text="${blog.published}? 发布 : 草稿">是</td>
                            <td th:text="${blog.updateTime}">2017-10-02 09:45</td>
                            <td>
                                <div class="gridContainer">
                                    <form th:action="@{/admin/blogs/}+${blog.id}" style="float: left" class="bid-floor-input" method="get">
                                        <button type="submit" class="ui mini teal basic button">编辑</button>
                                    </form>
                                    <form th:action="@{/admin/blogs/}+${blog.id}" class="bid-floor-save" style="float: right" method="post">
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit" class="ui mini red basic button">删除</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui mini pagination menu" th:if="${pageInfo.pages}>1">
                                <a onclick="page(this)" th:attr="data-page=${pageInfo.pageNum-1}" class="item" th:unless="${pageInfo.isFirstPage}">上一页</a>
                                <a onclick="page(this)" th:attr="data-page=${pageInfo.pageNum+1}" class="item" th:unless="${pageInfo.isLastPage}">下一页</a>
                            </div>
                            <a href="#" th:href="@{/admin/blogs/input}" class="ui mini right floated teal basic button">新增</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
                <div class="ui success message" th:unless="${#strings.isEmpty(successMsg)}">
                    <i class="close icon"></i>
                    <div class="header">提示：</div>
                    <p th:text="${successMsg}"></p>
                </div>
                <div class="ui error message" th:unless="${#strings.isEmpty(errMsg)}">
                    <i class="close icon"></i>
                    <div class="header">提示：</div>
                    <p th:text="${errMsg}"></p>
                </div>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<!--底部footer-->
<div th:replace="commons/bar::footerbar"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover' //设置为鼠标移动到指定点触发显示
    });

    //消息提交关闭
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });

    $('#clear-btn').on('click', function () {
        $('.ui.type.dropdown').dropdown('clear');
    });

    //$('.ui.dropdown').dropdown();//默认点击显示

    $("#search-btn").click(function () {
        $("[name='page']").val(1);
        loadData();
    });

    function page(obj) {
        $("[name='page']").val($(obj).attr("data-page"));
        loadData();
    }

    function loadData() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title : $("[name='title']").val(),
            typeId : $("[name='type']").val(),   //typeId会封装进controller中的与它参数名一致的参数   name='type' 然后找到对应name的value值
            recommend : $("[name='recommend']").prop('checked'),
            page : $("[name='page']").val(),
        });
    }
</script>
</body>
</html>