@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url("./S6u8w4BMUTPHjxsAXC-vNiXg7Q.ttf") format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url("./S6u_w4BMUTPHjxsI5wq_Gwfox9897g.ttf") format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url("./S6uyw4BMUTPHjx4wWyWtFCc.ttf") format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url("./S6u9w4BMUTPHh6UVSwiPHA3q5d0.ttf") format('truetype');
}
