<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiqiandewo.mapper.BlogMapper">

    <!--
    void addBlog(Blog blog);

    Blog queryById(Long id);

    //分页查询
    List<Blog> queryAll(int page, int size);

    void updateBlog(Long id, Blog blog);

    void deleteBlog(Long id);

    Blog queryConditional(String title, Long typeId, boolean recommend);
    -->

    <resultMap id="allBlogMap" type="com.yiqiandewo.pojo.Blog">
        <id property="id" column="id"></id>
        <result property="appreciation" column="appreciation"></result>
        <result property="commentAble" column="comment_able"></result>
        <result property="content" column="content"></result>
        <result property="createTime" column="create_time"></result>
        <result property="firstPicture" column="first_picture"></result>
        <result property="flag" column="flag"></result>
        <result property="published" column="published"></result>
        <result property="recommend" column="recommend"></result>
        <result property="title" column="title"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="views" column="views"></result>

        <association property="type" javaType="com.yiqiandewo.pojo.Type">
            <id property="id" column="type_id"></id>
            <result property="name" column="name"></result>
        </association>

        <association property="user" javaType="com.yiqiandewo.pojo.User">
            <id property="id" column="user_id"></id>
            <result property="username" column="username"></result>
            <result property="avatar" column="avatar"></result>
        </association>
    </resultMap>

    <select id="queryAll" resultMap="allBlogMap">
         select b.*, t.*, u.id, u.username, u.avatar from t_blog b left join t_type t on b.type_id = t.id left JOIN t_user u on u.id = b.user_id
    </select>

    <select id="queryById" resultType="com.yiqiandewo.pojo.Blog">
        select * from `t_blog` where `id` = #{id};
    </select>

    <select id="queryByTitle" resultType="com.yiqiandewo.pojo.Blog">
        select * from `t_blog` where `title` = #{title};
    </select>

    <select id="queryConditional" resultMap="allBlogMap">
        select * from `t_blog` b left join `t_type` t on b.`type_id` = t.id
        <where>
            <if test="title != null and title != ''">
                and b.`title` = #{title}
            </if>
            <if test="typeId != null and typeId != 0L">
                and b.`type_id` = #{typeId}
            </if>
            and b.`recommend` = #{recommend}
        </where>
    </select>

    <update id="updateBlog" parameterType="com.yiqiandewo.pojo.User">
        update t_blog set `appreciation` = #{appreciation}, `comment_able` = #{commentAble}, `content` = #{content}, `create_time` = #{createTime},
        `first_picture` = #{firstPicture}, `flag` = #{flag}, `published` = #{published},`recommend` = #{recommend}, `share_statement` = #{shareStatement},
        `title` = #{title}, `update_time` = #{updateTime}, `type_id` = #{type.id},  where `id` = #{id};
    </update>

    <delete id="deleteBlog" parameterType="Long">
        delete from t_blog where `id` = #{id};
    </delete>

    <insert id="addBlog" parameterType="com.yiqiandewo.pojo.Blog">
        insert into t_blog(`appreciation`, `comment_able`, `content`, `create_time`, `first_picture`, `flag`, `published`, `recommend`, `share_statement`, `title`, `update_time`, `views`, `type_id`, `user_id`)
        values(#{appreciation}, #{commentAble}, #{content}, #{createTime}, #{firstPicture}, #{flag}, #{published}, #{recommend}, #{shareStatement}, #{title}, #{updateTime}, #{views}, #{type.id}, #{user.id});
    </insert>
</mapper>